html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
.header {
  padding: 25px 25px 100px 25px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .header__nav-mobile {
    display: none;
  }
}
.header__menu {
  display: block;
  max-width: 40px;
  margin-left: auto;
  font-size: 25px;
  text-align: right;
  color: #f36b47;
}
.header__menu:hover {
  color: #4c4c4b;
}
.header__nav-tablet {
  display: none;
}
@media (min-width: 768px) {
  .header__nav-tablet {
    display: block;
    width: 100%;
    max-width: 70%;
  }
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
}
.header__nav-link {
  display: block;
  position: relative;
  font: 500 15px 'Ubuntu', sans-serif;
  color: #414141;
  text-transform: uppercase;
}
.header__nav-link:hover {
  border-bottom: 2px solid #f36b47;
  cursor: pointer;
}
.header__nav-link:hover:after {
  content: '';
  position: absolute;
  bottom: -70%;
  left: 40%;
  border: 5px solid transparent;
  border-top: 5px solid #f36b47;
}
.main-title {
  font: 400 72px 'PT Sans', sans-serif;
  text-align: center;
  color: #4c4c4b;
  text-decoration: none;
}
@media (min-width: 768px) {
  .main-title {
    width: 100%;
    max-width: 25%;
    order: -1;
    font: 500 36px 'PT Sans', sans-serif;
  }
}
.main-title span {
  color: #f36b47;
  text-transform: uppercase;
}
.slider__top-section {
  position: relative;
  padding: 140px 0 110px 0;
  background: url("../images/slider.png") no-repeat center / cover;
}
.slider__arrow-left,
.slider__arrow-right {
  position: absolute;
  left: 2%;
  font-size: 48px;
  color: rgba(243, 107, 71, 0.6);
}
.slider__arrow-right {
  left: 90%;
  top: 40%;
}
.slider__title {
  width: 50%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.4);
  font: 500 18px 'Ubuntu', sans-serif;
  text-align: center;
  color: #eff7f8;
}
@media (min-width: 768px) {
  .slider__title {
    font-size: 26px;
  }
}
.slider__title-mark {
  margin-top: 10px;
  width: 55%;
  font-weight: 700;
}
@media (min-width: 768px) {
  .slider__title-mark {
    font-size: 24px;
  }
}
.slider__bottom-section {
  padding: 30px 0 25px 0;
  background-color: #f36b47;
}
.slider__description {
  text-align: center;
  font: 400 14px 'Ubuntu', sans-serif;
  color: #fff;
}
@media (min-width: 768px) {
  .slider__description {
    font-size: 20px;
  }
}
.slider__description span {
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .slider__description span {
    font-size: 24px;
  }
}
.main-content {
  padding: 45px 30px 35px 30px;
  background-color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .main-content {
    padding: 50px 100px;
  }
}
.title {
  display: inline-block;
  text-align: center;
  border-bottom: 2px solid #f36b47;
  font: 500 24px 'Ubuntu', sans-serif;
  color: #484848;
}
@media (min-width: 768px) {
  .title {
    font-size: 30px;
  }
}
.text {
  margin-top: 20px;
  font: 400 18px 'Ubuntu', sans-serif;
  color: #9d9c9c;
  line-height: 25px;
}
@media (min-width: 768px) {
  .text {
    font-size: 16px;
  }
}
.demarcation-line {
  width: 100%;
  height: 100%;
  min-height: 8px;
  background-color: #f36b47;
}
@media (min-width: 768px) {
  .demarcation-line {
    display: none;
  }
}
.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px 0;
  text-align: center;
}
@media (min-width: 768px) {
  .features {
    padding: 0 100px 80px 100px;
    justify-content: space-between;
  }
}
.features__item {
  width: 75%;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .features__item {
    width: 45%;
    margin-bottom: 65px;
  }
}
.features__item:last-child {
  margin-bottom: 0;
}
.features__item-icon {
  font-size: 30px;
  color: #f36b47;
}
.features__item-title {
  margin: 20px 0 15px 0;
  font: 400 24px 'PT Sans', sans-serif;
  color: #2e2e2e;
}
@media (min-width: 768px) {
  .features__item-title {
    font-size: 20px;
  }
}
.features__item-text {
  font: 400 18px 'Ubuntu', sans-serif;
  line-height: 18px;
  color: #9d9c9c;
}
@media (min-width: 768px) {
  .features__item-text {
    text-align: left;
    font-size: 12px;
  }
}
.recent-projects {
  padding: 80px 55px 115px 55px;
  background-color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .recent-projects {
    padding: 15px 80px 105px 80px;
  }
}
.recent-projects__text {
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .recent-projects__text {
    margin-bottom: 45px;
  }
}
.recent-projects__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .recent-projects__list {
    justify-content: space-between;
  }
}
.recent-projects__item {
  position: relative;
  width: 75%;
  margin-bottom: 70px;
  background-color: #eeeeee;
  border: 1px solid #e0dddd;
}
@media (min-width: 768px) {
  .recent-projects__item {
    width: 45%;
  }
}
.recent-projects__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .recent-projects__item:last-child {
    margin-bottom: auto;
  }
}
.recent-projects__item img {
  width: 100%;
  height: auto;
}
.recent-projects__item-title {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 6px;
  font: 500 24px 'Ubuntu', sans-serif;
  color: #fe5c32;
  line-height: 18px;
}
@media (min-width: 768px) {
  .recent-projects__item-title {
    font-size: 16px;
    border-bottom: 1px solid #e0dddd;
  }
}
.recent-projects__item-descroption {
  padding-bottom: 10px;
  font: 400 18px 'Ubuntu', sans-serif;
  color: #605f5f;
}
@media (min-width: 768px) {
  .recent-projects__item-descroption {
    font-size: 12px;
    padding: 10px;
  }
}
.recent-projects__link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 100;
}
.talk {
  padding: 90px 15px 85px 15px;
  background-color: #7a7a7a;
  text-align: center;
}
@media (min-width: 768px) {
  .talk {
    padding: 90px 80px 65px 80px;
  }
}
.talk__title {
  font: 400 60px 'Ubuntu', sans-serif;
  color: #fff;
}
.talk__title span {
  color: #f36b47;
}
.talk__text {
  margin-top: 55px;
  font: 400 24px 'PT Sans', sans-serif;
  color: #fff;
  line-height: 25px;
}
@media (min-width: 768px) {
  .talk__text {
    font-size: 16px;
  }
}
.contact {
  padding: 65px 15px 150px 15px;
  text-align: center;
}
@media (min-width: 768px) {
  .contact {
    padding: 80px 80px 130px 80px;
  }
}
.contact__title,
.contact .contact-details__title {
  font-size: 48px;
}
@media (min-width: 768px) {
  .contact__title,
  .contact .contact-details__title {
    font-size: 30px;
  }
}
.contact__text {
  margin-top: 60px;
  font-size: 16px;
}
.map-responsive {
  margin: 110px 0 80px 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 520px;
}
@media (min-width: 768px) {
  .map-responsive {
    margin-top: 30px;
  }
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.contact-details__wrap {
  display: flex;
  flex-wrap: wrap;
  padding-left: 55px;
  margin-top: 85px;
  text-align: left;
}
@media (min-width: 768px) {
  .contact-details__wrap {
    margin-top: 55px;
    padding: 0;
    justify-content: space-between;
  }
}
.contact-details__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 50px;
  font-size: 30px;
}
@media (min-width: 768px) {
  .contact-details__item {
    width: 40%;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .contact-details__item-address {
    order: -1;
    width: 61%;
    margin: 0 auto 50px;
  }
}
.phone-icon,
.email-icon,
.address-icon {
  color: #f36b47;
  margin-right: 20px;
  text-decoration: none;
}
@media (min-width: 768px) {
  .phone-icon,
  .email-icon,
  .address-icon {
    font-size: 16px;
  }
}
.phone,
.email,
.address {
  width: 45%;
  font-size: 30px;
  text-decoration: none;
  color: #9d9c9c;
  text-align: left;
}
@media (min-width: 768px) {
  .phone,
  .email,
  .address {
    font-size: 16px;
    width: 80%;
  }
}
.address p span {
  vertical-align: super;
  font-size: 20px;
}
.form__name,
.form__email,
.form__message {
  width: 100%;
  height: 100%;
  min-height: 50px;
  margin-bottom: 10px;
  padding-left: 15px;
  font: 400 16px 'Ubuntu', sans-serif;
  background-color: #f0f0f0;
  border: 1px solid #cac6c6;
}
.form__message {
  min-height: 170px;
  margin-bottom: 0;
  padding-top: 10px;
  resize: none;
}
.button-submit {
  width: 100%;
  max-width: 310px;
  margin-top: 25px;
  padding: 10px 0 20px 0;
  font: 400 20px 'PT Sans', sans-serif;
  color: #fff;
  border-radius: 5px;
  background-color: #f36b47;
}
.button-submit:hover {
  cursor: pointer;
  background-color: #7a7a7a;
}
@media (min-width: 768px) {
  .button-submit {
    max-width: 390px;
  }
}
.footer {
  padding-bottom: 95px;
}
@media (min-width: 768px) {
  .footer {
    padding-bottom: 50px;
  }
}
.copyright {
  padding: 20px 0;
  font: 400 18px 'PT Sans', sans-serif;
  color: #fff;
  background-color: #f36b47;
  text-align: center;
}
@media (min-width: 768px) {
  .copyright {
    font-size: 14px;
  }
}
/*# sourceMappingURL=main.css.map */